<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<body>

<div id="snip">
	<div id="niz"> </div>
</div>
<div id="wrap">
	<div id="container">

		<div id="header">
			<div class="logo">
				<a href="./main_files/main.html"><img src="./main_files/new_logo.gif" alt="Frisbee - интернет зоомагазин магазин для животных" title="Фризби" height="117" width="265"></a>
			</div>
			<ul class="header_new_menu">
	<li><a href="http://www.fristore.ru/news/">Новости</a></li>
	<li><a href="http://www.fristore.ru/action/">Акции</a></li>
	<li><a href="http://www.fristore.ru/discounts/">Скидки</a></li>
	<li><a href="http://www.fristore.ru/payment/">Оплата</a></li>
	<li><a href="http://www.fristore.ru/delivery/">Доставка</a></li>
	<li><a href="http://www.fristore.ru/contact/">Контакты</a></li>
	<li><a href="http://www.fristore.ru/help/">Помощь</a></li>
</ul>
			<div class="back-call">

<span id="call_phone_1">+7 (495) 225-45-59</span>
 <a href="http://www.fristore.ru/#" id="link-callback">Заказать обратный звонок</a>
				<div id="call_back">

<div class="close"><img src="./main_files/close.gif" alt="Закрыть" title="Закрыть"></div>

<div class="error"> 		 	</div>
 	 	<form action="" id="callback-form" method="post">
  <table class="b-block-table">
    <tbody>
      <tr>
		  <td class="label">ФИО:</td>
		  <td class="text">
		  	<input type="text" name="name" value="" src="/bitrix/images/fileman/htmledit2/php.gif" border="0">
		  </td>
	  </tr>

      <tr>
		  <td class="label">Телефон:</td>
		  <td class="text">
		  	<input type="text" name="phone" value="" src="/bitrix/images/fileman/htmledit2/php.gif" border="0">
		  </td>
	  </tr>

      <tr>
		  <td class="label">Время для звонка:</td>
		  <td class="text">
		  	<input type="text" name="time" value="" src="/bitrix/images/fileman/htmledit2/php.gif" border="0">
		  </td>
	  </tr>

     <!--  <tr>
	  	<td class="label">
	  		<span style='font-size:10px; line-height: 10px'>Обратите внимание, что мы сможем перезвонить Вам только в часы работы колл-центра</span>
	  	</td>
	  	<td>
		  <div class="send"><input type="submit" value="" /></div>
		</td>
	</tr> -->
    </tbody>
   </table>
 <span style="font-size:10px; line-height: 10px; width: 190px; float: left; text-align: right;">Обратите внимание, что мы сможем перезвонить Вам только в часы работы колл-центра</span>
  <div class="send"><input type="submit" value=""></div>
 	</form> 				</div>
			</div>


			<!--noindex-->
							<a rel="nofollow" href="http://www.fristore.ru/#" id="link-auth">Войти</a>
						<!--/noindex-->

			<div class="work_time_block">
				<strong>пн-вс 10:00 – 20:00</strong>			</div>
			<noindex><div id="basket-small">

	<div class="new_basket_block" onclick="location.href=&#39;/personal/basket/&#39;" style="cursor: pointer;">
	<div class="nb_price">
		<strong>0</strong> руб.
	</div>
	<div class="nb_cart">
		<span><big>0</big> шт.</span>
	</div>
</div>			</div></noindex>
			<noindex>
						<div class="form-search" id="title-search">
		<form action="http://www.fristore.ru/search/">
			<input id="title-search-input" type="text" name="q" value="" size="40" maxlength="50" autocomplete="off" class="text">&nbsp;<input name="s" type="submit" value=" " class="send">
		</form>
	</div>
<script type="text/javascript">
var jsControl = new JCTitleSearch({
	//'WAIT_IMAGE': '/bitrix/themes/.default/images/wait.gif',
	'AJAX_PAGE' : '/bitrix/urlrewrite.php?SEF_APPLICATION_CUR_PAGE_URL=%2F',
	'CONTAINER_ID': 'title-search',
	'INPUT_ID': 'title-search-input',
	'MIN_QUERY_LEN': 2
});
</script>
			</noindex>
		</div>

		<!-- NAVIGATION -->
		<div id="navigation" class="png_bg">
			<ul>
<li class="top first-n">

			<big><a href="http://www.fristore.ru/brands/">Бренды</a></big>
			<em class="hover_li"><!-- --></em>
	</li>
		<!-- 	<li class="top  first-n "> -->
	<li class="top ">
			<big><a href="http://www.fristore.ru/catalog/sobaki/">Собаки</a></big>
			<em class="hover_li"><!-- --></em>
							<div class="submenu double_column " id="a1" style="display: none;">
					<div class="submenu_inner">
													<ul style="height: 207px;">							<li>
								<a href="http://www.fristore.ru/catalog/aksessuary-1490/">Аксессуары</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/zabota-o-zdorove/">Забота о здоровье</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/igrushki-1467/">Игрушки</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/kletki-i-volery/">Клетки и вольеры</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/knigi/">Книги</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/korma/">Корма</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/lakomstva/">Лакомства</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/legaki-i-domiki-1479/">Лежаки и домики</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/odegda/">Одежда</a>
								<em class="link_sh"><!-- --></em>
							</li>
							</ul>													<ul style="height: 207px;">							<li>
								<a href="http://www.fristore.ru/catalog/perenoski/">Переноски</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/podderganie-chistoty-1496/">Поддержание чистоты</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/posuda/">Посуда</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/rasprodaga-1634/">Распродажа</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/tovary-po-uhodu/">Товары по уходу</a>
								<em class="link_sh"><!-- --></em>
							</li>
																			</ul>					</div>
					<div class="submenu_bottom_round">
						<div class="sbr_center">
							<div class="sbr_left"></div>
							<div class="sbr_right"></div>
						</div>
					</div>
				</div>
					</li>
		<!-- 	<li class="top "> -->
	<li class="top ">
			<big><a href="http://www.fristore.ru/catalog/koshki/">Кошки</a></big>
			<em class="hover_li"><!-- --></em>
							<div class="submenu double_column " id="a2" style="display: none;">
					<div class="submenu_inner">
													<ul style="height: 221px;">							<li>
								<a href="http://www.fristore.ru/catalog/aksessuary-1518/">Аксессуары</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/zabota-o-zdorove-1413/">Забота о здоровье</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/igrushki/">Игрушки</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/kletki-i-volery-1589/">Клетки и вольеры</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/knigi-1611/">Книги</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/kogtetochki-i-igrovye-kompleksy/">Когтеточки и игровые комплексы</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/korma-1432/">Корма</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/lakomstva-1421/">Лакомства</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/legaki-i-domiki/">Лежаки и домики</a>
								<em class="link_sh"><!-- --></em>
							</li>
							</ul>													<ul style="height: 221px;">							<li>
								<a href="http://www.fristore.ru/catalog/perenoski-1445/">Переноски</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/podderganie-chistoty-1459/">Поддержание чистоты</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/posuda-1486/">Посуда</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/rasprodaga/">Распродажа</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/tovary-po-uhodu-1426/">Товары по уходу</a>
								<em class="link_sh"><!-- --></em>
							</li>
																			</ul>					</div>
					<div class="submenu_bottom_round">
						<div class="sbr_center">
							<div class="sbr_left"></div>
							<div class="sbr_right"></div>
						</div>
					</div>
				</div>
					</li>
		<!-- 	<li class="top "> -->
	<li class="top ">
			<big><a href="http://www.fristore.ru/catalog/gryzuny/">Грызуны</a></big>
			<em class="hover_li"><!-- --></em>
							<div class="submenu double_column " id="a3" style="display: none;">
					<div class="submenu_inner">
													<ul style="height: 207px;">							<li>
								<a href="http://www.fristore.ru/catalog/aksessuary-dlya-kletok/">Аксессуары для клеток</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/amunitsiya/">Амуниция</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/zabota-o-zdorove-1568/">Забота о здоровье</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/igrushki-1567/">Игрушки</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/kletki-i-volery-1621/">Клетки и вольеры</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/knigi-1615/">Книги</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/korma-1458/">Корма</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/lakomstva-1526/">Лакомства</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/perenoski-1511/">Переноски</a>
								<em class="link_sh"><!-- --></em>
							</li>
							</ul>													<ul style="height: 207px;">							<li>
								<a href="http://www.fristore.ru/catalog/podderganie-chistoty-1559/">Поддержание чистоты</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/posuda-1485/">Посуда</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/rasprodaga-1635/">Распродажа</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/seno/">Сено</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/tovary-po-uhodu-1424/">Товары по уходу</a>
								<em class="link_sh"><!-- --></em>
							</li>
																			</ul>					</div>
					<div class="submenu_bottom_round">
						<div class="sbr_center">
							<div class="sbr_left"></div>
							<div class="sbr_right"></div>
						</div>
					</div>
				</div>
					</li>
		<!-- 	<li class="top "> -->
	<li class="top ">
			<big><a href="http://www.fristore.ru/catalog/ptitsy/">Птицы</a></big>
			<em class="hover_li"><!-- --></em>
							<div class="submenu double_column " id="a4" style="display: none;">
					<div class="submenu_inner">
													<ul style="height: 207px;">							<li>
								<a href="http://www.fristore.ru/catalog/aksessuary-1474/">Аксессуары</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/volery/">Вольеры</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/domiki-1711/">Домики</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/zabota-o-zdorove-1416/">Забота о здоровье</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/igrushki-1473/">Игрушки</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/kletki-i-podstavki/">Клетки и подставки</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/korma-1562/">Корма</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/lakomstva-1521/">Лакомства</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/napolniteli-1569/">Наполнители</a>
								<em class="link_sh"><!-- --></em>
							</li>
							</ul>													<ul style="height: 207px;">							<li>
								<a href="http://www.fristore.ru/catalog/podderganie-chistoty-1644/">Поддержание чистоты</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/posuda-1709/">Посуда</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/rasprodaga-1675/">Распродажа</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/tovary-po-uhodu-1708/">Товары по уходу</a>
								<em class="link_sh"><!-- --></em>
							</li>
																			</ul>					</div>
					<div class="submenu_bottom_round">
						<div class="sbr_center">
							<div class="sbr_left"></div>
							<div class="sbr_right"></div>
						</div>
					</div>
				</div>
					</li>
		<!-- 	<li class="top "> -->
	<li class="top ">
			<big><a href="http://www.fristore.ru/catalog/ryby/">Рыбы</a></big>
			<em class="hover_li"><!-- --></em>
							<div class="submenu" id="a5" style="display: none;">
					<div class="submenu_inner">
													<ul style="height: 207px;">							<li>
								<a href="http://www.fristore.ru/catalog/akvariumy/">Аквариумы</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/aksessuary-dlya-akvariuma/">Аксессуары для аквариума</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/dekoratsiya/">Декорация</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/knigi-1614/">Книги</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/korma-1564/">Корма</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/lekarstva/">Лекарства</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/podderganie-chistoty/">Поддержание чистоты</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/rasprodaga-1733/">Распродажа</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/tumby/">Тумбы</a>
								<em class="link_sh"><!-- --></em>
							</li>
							</ul>																	</div>
					<div class="submenu_bottom_round">
						<div class="sbr_center">
							<div class="sbr_left"></div>
							<div class="sbr_right"></div>
						</div>
					</div>
				</div>
					</li>
		<!-- 	<li class="top "> -->
	<li class="top ">
			<big><a href="http://www.fristore.ru/catalog/reptilii/">Рептилии</a></big>
			<em class="hover_li"><!-- --></em>
							<div class="submenu" id="a6" style="display: none;">
					<div class="submenu_inner">
													<ul style="height: 184px;">							<li>
								<a href="http://www.fristore.ru/catalog/aksessuary-dlya-terrariumov/">Аксессуары для террариумов</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/dekoratsiya-1646/">Декорация</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/zabota-o-zdorove-1681/">Забота о здоровье</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/korma-1578/">Корма</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/napolniteli-1602/">Наполнители</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/perenoski-1648/">Переноски</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/terrariumy/">Террариумы</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/tumby-1637/">Тумбы</a>
								<em class="link_sh"><!-- --></em>
							</li>
																			</ul>					</div>
					<div class="submenu_bottom_round">
						<div class="sbr_center">
							<div class="sbr_left"></div>
							<div class="sbr_right"></div>
						</div>
					</div>
				</div>
					</li>
		<!-- 	<li class="top  last-n "> -->
	<li class="top  last-n ">
			<big><a href="http://www.fristore.ru/catalog/aktsii/">АКЦИИ</a></big>
			<em class="hover_li"><!-- --></em>
							<div class="submenu" id="a7" style="display: none;">
					<div class="submenu_inner">
													<ul style="height: 92px;">							<li>
								<a href="http://www.fristore.ru/catalog/gryzuny-1788/">Грызуны</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/koshki-1778/">Кошки</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/ptitsy-1786/">Птицы</a>
								<em class="link_sh"><!-- --></em>
							</li>
																											<li>
								<a href="http://www.fristore.ru/catalog/sobaki-1775/">Собаки</a>
								<em class="link_sh"><!-- --></em>
							</li>
																			</ul>					</div>
					<div class="submenu_bottom_round">
						<div class="sbr_center">
							<div class="sbr_left"></div>
							<div class="sbr_right"></div>
						</div>
					</div>
				</div>
					</li>
	</ul>		</div>
		<!-- NAVIGATION -->

		<div class="content-inner-list">
			<div class="content-inner-list">
				<div class="content-main">
<!-- BILLBOARD -->

<script type="text/javascript" src="./main_files/banner_v0.js"></script>

<script type="text/javascript">
	$(function(){
		billboard = new iesa.Banner(document.getElementById("main_banner"));
		billboard.init();
	});
</script>

<div id="main_banner" class="billboard">
  <div class="config"> 		/**/ 		Object({ 			show_play_button: false, 			show_navigation: true, 			autostart: true, 			delay: 9000, 			frames: 				[ 				 					{ src: '/upload/iblock/787/7877f2e3c2f75f8f04d339b018715d5a.jpg', href: '/news/teper_dostupna_usluga_podpiska_na_zakazy/' }, 				 					{ src: '/upload/iblock/e2e/e2eea66a22d926d1f15920b0175c52ee.gif', href: '/brands/Fish4Dog/' }, 				 					{ src: '/upload/iblock/8e3/8e3977b2303a9991ca496c3ea7f8f19a.jpg', href: '/brands/Happy-Cat-%28Heppi-Ket%29/' }, 				 					{ src: '/upload/iblock/180/18018cddc73cc0c94783b5aed6836993.jpg', href: '/brands/trainer/' }, 				 				] 		}); 		/**/ 	</div>
 <div class="banner_content"><div class="frame" style="background-image: url(http://www.fristore.ru/upload/iblock/787/7877f2e3c2f75f8f04d339b018715d5a.jpg);"></div><div class="overframe" style="background-image: url(http://www.fristore.ru/upload/iblock/787/7877f2e3c2f75f8f04d339b018715d5a.jpg); display: none;"></div></div><div class="control_overlay" style="display: block;"><div class="num_wrapper"><ul><li class="active">1</li><li class="">2</li><li class="">3</li><li class="">4</li></ul><i class="c t l"><i></i></i><i class="c t r"><i></i></i><i class="c b l"><i></i></i><i class="c b r"><i></i></i></div></div></div>



<div class="pay-banners"> <a href="http://www.fristore.ru/discounts/"><img src="./main_files/banner1.png"></a> 		<a href="http://www.fristore.ru/payment/"><img src="./main_files/banner2.png"></a> 	<a href="http://www.fristore.ru/payment/"><img src="./main_files/banner3.png"></a> </div>





</body></html>